.admin-container{
    background-color: white;
}

table th{
    font-style: italic;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}
.delete-btn{
    display: flex;
    justify-content: center;
}
