.container-error{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.error{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    
  }
  
  .img-Error{
    width: 40%;
    align-items: center;
    cursor: pointer;
    }