.footer-card{
    font-size: smaller;
    border: none !important;
    text-align: center;
}

.foot-item a{
    text-decoration: none;
    color: gray !important;
}

.foot-item:hover{
    color:rgba(255,50,112) !important;
   }