.postBox{
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 8px solid rgb(194, 190, 190);
    padding-right: 10px;
}

.postBox form{
    display: flex;
    flex-direction: column;
}

.postBox__input{
    padding: 20px;
    display: flex;
}

.postBox__input input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

.postBox__inputImg{
    border:none;
    padding: 10px;

}

/* .postBox__postButton {
    padding: 1rem 2rem;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 300px;
    letter-spacing: 0.5em;
    background: rgb(255, 255, 255);
    color: blueviolet;
    border-radius: .5rem;
    border-bottom: 2px solid blueviolet !important;
    border-right: 2px solid blueviolet !important;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, 
       border-left, 
       border-bottom,
       border-right,
       box-shadow;
   }
   
   .postBox__postButton:hover {
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
   } */